/* @font-face {
  font-family: FrederickatheGreat;
  src: url("../fonts/FrederickatheGreat-Regular.ttf");
}

@font-face {
  font-family: PressStart2p;
  src: url("../fonts/PressStart2P-Regular.ttf");
}

@font-face {
  font-family: Russo;
  src: url("../fonts/RussoOne-Regular.ttf");
} */

@font-face {
  font-family: Josefin;
  src: url("../fonts/static/JosefinSans-Light.ttf");
}

@font-face {
  font-family: Yeseva;
  src: url("../fonts/YesevaOne-Regular.ttf");
}

:root {
  --tbody-width: 790.5px;
}

html {
  overflow-y: scroll;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Josefin;
  font-size: 20px;
  color: black;
}

main, footer {
  line-height: 1.5em;
}

a {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  color: black;
  /* white-space: nowrap; */
}

/* #publi a {
  white-space: normal;
} */

/* main a:hover,
footer a:hover {
  text-decoration: underline wavy #C0C0C0;
  -webkit-text-decoration: underline wavy #C0C0C0;
} */

/* main a:hover::after,
footer a::after,
#voronoi .tooltip::after {
  position: absolute;
  content: '<<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>>><<>><<>><<>><<>><<>>';
  color: black;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.5em;
  width: 100%;
  left: 0;
  top: 80%;
  line-height: 1em;
  letter-spacing:-.4em;
} */

/* #publi a:hover::after {
  content: '';
} */

main a:hover,
footer a:hover,
/* #voronoi .tooltip, */
#publi a:hover {
  padding-bottom: 5px;
  background-position: bottom;
  background-size: 120px;
  background-repeat: repeat-x;
  overflow: visible;
}

#data-science a:hover,
.footer-ds a:hover {
  background-image: url('../images/border_green.png');
}
#about a:hover,
.footer-about a:hover {
  background-image: url('../images/border_blue.png');
}
#phd a:hover,
.footer-phd a:hover,
#publi a:hover {
  background-image: url('../images/border_yellow.png');
}
/* #voronoi .tooltip {
  background-image: url('../images/border_black.png');
} */

h1 {
  font-family: Yeseva;
  font-weight: 400;
  font-size: 45px;
}

header h1 {
  margin: 0.15vw 2vw 1vw 2vw;
  padding-bottom: 0.5vw;
  padding-top: 0.5vw;
  /* padding-top: 0.8vw; */
  font-size: 5vw;
  white-space: nowrap;
  display: inline-table;
}

header span {
  font-size: 3.5vw;
}

header a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

#background {
  position: fixed;
  left: -4%;
  width: 100%;
  height: 100%;
  z-index: -100;
  background-image: url("../images/doodle.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.no-overflow {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

nav tbody {
  /* background-color: WhiteSmoke; */
}
nav table {
  /* background-color: Yellow; */
}

nav tbody {
  transform: scale(1);
}

header table {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -2.5%;
  /* margin-left: -1%; */
  transform: translate(-50%, -50%);
  text-align: right;

  display: flex;
  align-content: center;
  justify-content: center;
}

.filler {
  opacity: 0;
  font-size: 0;
}

.full {
  font-size: 3.5vw;
}

.name {
  padding-top: 5vw;
  padding-left: 4vw;
  color: #0666B9;
  background-image: linear-gradient(to right, #333 50%, rgba(255, 255, 255, 0) 50%);
  background-position: bottom;
  background-size: 20px 1px;
  background-repeat: repeat-x;
}

.title {
  padding-top: 5vw;
  color: #F8C987;
  border-left: 1px solid black;
}

.job {
  color: #0D9099;
}

.enchance {
  transition: transform 0.5s ease-in-out;
}
.enchance_name {
  transform-origin: bottom right;
  transform: scale(1.2);
}
.enchance_job {
  transform-origin: top right;
  transform: scale(1.3);
}
.enchance_title {
  transform-origin: bottom;
  transform: scale(1.3);
}
.no_enchance {
  transform: scale(1);
  /* transition: none; */
}

nav .name h1,
nav .job h1,
nav .title h1 {
  /* background-position: bottom; */
}

nav .name h1:hover,
nav .job h1:hover,
nav .title h1:hover {
  font-style: italic;
  /* transition: none; */
  /* padding-bottom: 0.5vw; */
  /* background-position: bottom;
  background-size: 25vw;
  background-repeat: repeat-x;
  overflow: visible; */
}
/* nav .name h1:hover {
  background-image: url('../images/border_blue.png');
}
nav .job h1:hover {
  background-image: url('../images/border_green.png');
}
nav .title h1:hover {
  background-image: url('../images/border_yellow.png');
} */


/* nav h1:hover::after {
  position: absolute;
  content: '<<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>><<>>';
  white-space: nowrap;
  overflow: hidden;
  font-size: 2vw;
  width: 100%;
  left: 0;
  top:80%;
  line-height: 1em;
  letter-spacing:-.25em;
} */



/* nav .title h1,
nav .name h1, */
/* nav h1 { */
  /* background-color: rgba(13,144,153, 0.2); */
  /* display: inline-table; */
  /* -webkit-text-stroke: 2px white; */
  /* text-shadow:
       1px 1px 0 black,
      -1px -1px 0 black,
       1px -1px 0 black,
      -1px 1px 0 black,
       1px 1px 0 black; */
  /* border-bottom: 3px wavy rgba(13,144,153, 1); */
  /* text-decoration: underline wavy rgba(13,144,153, 1); */
  /* #C0C0C0; */
  /* background-color: WhiteSmoke; */
  /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 10%, WhiteSmoke 90%); */
  /* border-radius: 5%; */
  /* box-shadow: -5px 5px gray, -2px 2px gray, -1px 1px gray; */
  /* border: 1px solid gray; */
/* } */


/* nav .name h1:hover {
  text-decoration: underline solid rgba(6,102,185, 1);
  border-bottom: 3px solid rgba(6,102,185, 1);
}
nav .title h1:hover {
  text-decoration: underline wavy rgba(248,201,135, 1);
}

nav .title h1 {
  background-color: rgba(248,201,135, 0.25);
}
nav .name h1 {
  background-color: rgba(6,102,185, 0.2);
}
nav .job h1 {
  background-color: rgba(13,144,153, 0.2);
} */


.shadow table {
  position: fixed;
  z-index: -10;
}

.shadow .name,
.shadow .job,
.shadow .title {
  color: rgba(200, 200, 200, 0.2);
}

.shadow .name {
  background-image: linear-gradient(to right, rgba(200, 200, 200, 0.35) 50%, rgba(255, 255, 255, 0) 50%);
}

.shadow .title {
  border-left: 1px solid rgba(200, 200, 200, 0.3);
}

.full,
nav table,
nav tbody,
nav .name,
nav .job,
nav .title,
nav h1,
nav span {
  transition-duration: 1.5s;
  transition-property: all;
}

/* scale the whole menu */
.scale {
  transform: scale(0.35);
}

/* go to name menu */
.name_menu {
  margin-top: 0;
  /* margin-left: 0; */
  left: 100%;
  top: 100%;
  transform: translate(-64.5%, -70%);
}

/* go to job menu */
.job_menu {
  margin-top: 0;
  /* margin-left: 0; */
  left: 100%;
  top: 0%;
  transform: translate(-64.5%, -38%);
}

/* go to title menu */
.title_menu {
  left: 0%;
  top: 50%;
  transform: translate(-52%, -42.8%);
}

/* go to contact menu */
.contact_menu {
  margin-top: 0;
  left: 0%;
  top: 0%;
  transform: translate(-52%, -38%);  /* -34 -38 */
}

/* augment hline fatness for the resolution */
.hline {
  background-size: 20px 2px;
  /* padding-sleft: 1vw; */
}

/* augment vline fatness for the resolution */
.vline {
  border-left: 3px solid black;
}

/* rotate title text */
.rotate {
  transform: translateX(-30%) rotate(90deg);
}

/* collapse the name and the job for title menu*/
.collapse {
  font-size: 0px;
  opacity: 0;
}

.fadeIn {
  opacity: 0;
}

main {
  display: flex;
  justify-content: center;
}

main span {
  font-size: 30px;
}

main p {
  /* line-height: 1.5em; */
  text-align: justify;
  text-justify: inter-word;
}

main a, footer a {
  font-weight: bold;
}

article {
  position: relative;
  z-index: 100;
  width: 58%;
  text-align: center;
  transition: opacity 0.5s;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}

article strong {
  padding: 2px 4px;
  font-weight: normal;
}

footer {
  display: flex;
  /* align-content: flex-end; */
  justify-content: center;
  text-align: center;
}

footer h3 {
  margin-bottom: 0;
}

footer ul {
  position: relative;
  width: 58%;
  z-index: 100;
  margin: 0;
  font-size: 20px;
  list-style: none;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

footer li {
  padding: 10px;
}

.footer-about a,
.footer-about strong,
#about h1,
#about a {
  color: #0666B9;
}

#about strong {
  background-color: rgba(6,102,185, 0.2);
}

.footer-ds a,
.footer-ds strong,
#data-science h1,
#data-science a {
  color: #0D9099;
}

#data-science strong {
  background-color: rgba(13,144,153, 0.2);
}

.footer-phd a,
.footer-phd strong,
#phd h1,
#phd a{
  color: #F8C987;
}

#phd strong {
  background-color: rgba(248,201,135, 0.25);
}

.footer-contact a,
.footer-contact strong,
#contact h1,
#contact strong,
#contact a{
  color: #6a4c93;
}


#publi {
  /* font-size: 25px; */
  /* line-height: 2em; */
  text-align: left;
  /* background-color: rgba(255, 255, 255, 0.5); */
}
#publi li {
  margin-bottom: 1.2em;
}

.alpha {
  font-size: 17px;
  font-weight: 300;
}

#data-science table {
  /* background-color: rgba(255, 255, 255, 0.5); */
  margin-left: auto;
  margin-right: auto;
  margin-top: 7vh;
  /* margin-bottom: 3vh; */
}

#data-science table, #data-science th, #data-science td {
  border: 1px solid black;
  border-collapse: collapse;
}

#data-science th, #data-science td {
  padding: 15px;
}

#data-science th {
  font-size: 25px;
}

#contact p {
  text-align: center;
}

#contact h2 {
  margin-top: 6vh;
}

#solarplot {
  margin-left: auto;
  margin-right: auto;
  max-width: 550px;
  background-color: rgba(255, 255, 255, 0.5);
}

#voronoi .tooltip {
  position: absolute;
  text-align: center;
  font-size: 23px;
  /* font-weight: bold; */
  padding: 5px;
  padding-top: 10px;
  /* color: #0666B9; */
  background-color: rgba(255, 255, 255, 0.9);
  /* background-color: white; */
  -events: none;
  pointer-events: none;
}
